div{
  margin: 0;
  padding: 0;
  font-family: "Edu AU VIC WA NT Guides", cursive;
}

.courier{
  font-family: 'Courier New', Courier, monospace;
}

.welcome{
  font-size: 8vh;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  
}

.sidebar {
  
  height: 100%;
  overflow-y: auto; 
  background-image: url("/public/bg.png");;
}

/* Profile Image */
.rounded-circle {
  min-width: 150px;
  min-height: 150px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 3px solid black; 
}

.img-con {
  min-width: 30%; 
  max-width: 30%;
  margin-bottom: 20px; 
}


.main {
  min-height: 100vh; 
  background-image: url("/public/texture.jpg");
  padding-top: 5%;
  padding-bottom: 5%;
  transition: margin-left 0.3s ease; 
  overflow-wrap: break-word;

}

.main-item{
  width: 80%;

}

.btn {
  border: 3px solid black;
  border-radius: 40px;
  margin: 1vh;
  animation: ease-in-out;
  padding: 1vh;
}

.btn:hover {
  background-image: url("/public/bg.png");
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.item{

  text-decoration-thickness: 30px;
  text-decoration-color: red;
  margin: 0.5vh;
}

.highlight{
  font-size: 4vh;
  text-decoration-thickness: 30px;
  text-decoration-color: red;
  transition: 200ms; 
}
.highlight:hover{
  letter-spacing: 3px;
  text-decoration: underline;
  background-image: url("/public/bg.png");
}

.form-control {
  border-radius: 25px; 
  background-color: yellow;

 
}

input{
  border-radius: 25px; 
  background-color: yellow;
  border: 3px solid  black;
}

.input-group{
  filter: drop-shadow(-2px 7px 0px #000000);
  transition: 200ms; 

}

.input-group:hover{
  transform: scale(1.1);
}

.add{
  background-color: red;
  border: 3px solid black;
  border-radius: 40px;
  margin: 1vh;
  padding: 1vh;
  transition: 200ms; 
}

.add:hover{
  background-color: yellow;
}

.todo{
  font-size: 10vh;
  font-weight: 600;
}


label{
  font-size: 5vh;
  padding: 5%;
  margin-bottom: 1%;
}

